/* Header */
h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background: #022c22; /* dark green */
  color: #22c55e;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #022c22;; /* darker */
  padding: 12px 0;
  border-bottom: 1px solid #065f46;
}

/* Links */
nav a {
  text-decoration: none;
  color: #86efac;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.25s ease;
}


/* Optional: smooth underline effect */
nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: #22c55e;
  transition: width 0.3s;
  margin-top: 4px;
}

nav a:hover::after {
  width: 100%;
}

nav a.active-link::after {
  width: 100%;
}